<!-- ======= Hero Section ======= -->
<section
  id="hero"
  class="d-flex flex-column justify-content-center align-items-center"
>
  <div class="hero-container" data-aos="fade-in">
    <h1>Juan Pablo Robles</h1>
    <p>I'm <span class="typed-element"></span></p>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <h2>About</h2>
        <p>
          ¡Hola! Soy un estudiante de ingeniería de sistemas en formación,
          apasionado por la tecnología y la innovación. Me considero una persona
          analítica y metódica, con habilidades en programación, diseño y
          gestión de proyectos. Busco una oportunidad para desarrollarme
          profesionalmente en el área de desarrollo fullstack, donde pueda
          aplicar mis conocimientos y habilidades técnicas para contribuir en el
          desarrollo de soluciones tecnológicas innovadoras y de calidad. Estoy
          comprometido a aprender y crecer continuamente en mi carrera
          profesional y aportar valor a cualquier equipo de trabajo.
        </p>
        <span
          class="typed"
          data-typed-items="Designer, Developer, Freelancer, Photographer"
        ></span>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img
            src="../../../../assets/images/profile-img2.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Systems Engineer &amp; Web Developer.</h3>
          <p class="fst-italic">
            Les proporciono algunos detalles personales para que puedan
            conocerme mejor. Es importante mencionar que esta información se
            comparte con el propósito de facilitar una comunicación más cercana
            y personalizada.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <strong>Birthday:</strong> <span>21 June 2001</span>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                  <span>www.juanroblesdev.com</span>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
                  <span>+57 3138342018</span>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i> <strong>City:</strong>
                  <span>Tunja, COLOMBIA</span>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li>
                  <i class="bi bi-chevron-right"></i> <strong>Age:</strong>
                  <span>22</span>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <strong>Email:</strong>
                  <span>juan.roblesa@usantoto.edu.co</span>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <strong>Freelance:</strong> <span>Available</span>
                </li>
              </ul>
            </div>
          </div>
          <p>
            Siempre estoy dispuesto a enfrentar nuevos desafíos y llevar mis
            habilidades al límite. Si buscas un ingeniero de sistemas
            comprometido, innovador y apasionado, estaré encantado de contribuir
            con mis conocimientos y experiencia en tu equipo. ¡Espero tener la
            oportunidad de colaborar juntos y hacer una diferencia en el mundo
            de la tecnología!
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Facts Section ======= -->
  <section id="facts" class="facts">
    <div class="container">
      <div class="section-title">
        <h2>Facts</h2>
        <p>
          Mi objetivo principal es superar las expectativas de mis clientes y
          empleadores. Mi pasión por la excelencia y la calidad se refleja en
          cada proyecto que emprendo.
        </p>
      </div>

      <div class="row no-gutters">
        <div
          class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
          data-aos="fade-up"
        >
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <span>{{ happyClients }}</span>
            <p>
              <strong>Happy Clients</strong> &nbsp; Tengo la habilidad de
              diseñar soluciones tecnológicas.
            </p>
          </div>
        </div>

        <div
          class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="count-box">
            <i class="bi bi-journal-richtext"></i>
            <span>{{ projects }}</span>
            <p>
              <strong>Projects</strong>&nbsp; &nbsp;&nbsp;&nbsp; Mi pasión por
              la resolución de problemas me motiva a enfrentar desafíos
              complejos y encontrar soluciones
            </p>
          </div>
        </div>

        <div
          class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="count-box">
            <i class="bi bi-headset"></i>
            <span>{{ hoursSupport }} </span>
            <p>
              <strong>Hard Workers</strong> Como ingeniero de sistemas, nunca
              dejo de aprender.
            </p>
          </div>
        </div>

        <div
          class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="count-box">
            <i class="bi bi-people"></i>
            <span>{{ hardWorkers }}</span>
            <p>
              <strong>Hours Of Support</strong> Trabajar en equipo es esencial
              en el mundo de la tecnología.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Facts Section -->

  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Skills</h2>
        <p>
          Mis habilidades y competencias como ingeniero de sistemas. Durante mi
          trayectoria profesional, he desarrollado un sólido conocimiento en
          diversas áreas que me permiten abordar con éxito los desafíos
          tecnológicos y contribuir al crecimiento y mejora de proyectos y
          sistemas.
        </p>
      </div>

      <div class="row skills-content">
        <div class="col-lg-6" data-aos="fade-up">
          <div class="progress">
            <span class="skill">HTML/CSS <i class="val">80%</i></span>
            <div
              class="progress"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div class="progress-bar" style="width: 80%"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">BOOTSTRAP <i class="val">75%</i></span>
            <div
              class="progress"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div class="progress-bar" style="width: 75%"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">JavaScirpt <i class="val">60%</i></span>
            <div
              class="progress"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div class="progress-bar" style="width: 60%"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">React <i class="val">75%</i></span>
            <div
              class="progress"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div class="progress-bar" style="width: 75%"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">Angular <i class="val">65%</i></span>
            <div
              class="progress"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="65"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div class="progress-bar" style="width: 65%"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">Django <i class="val">60%</i></span>
            <div
              class="progress"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div class="progress-bar" style="width: 60%"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">ASP .NET <i class="val">55%</i></span>
            <div
              class="progress"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="55"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div class="progress-bar" style="width: 55%"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">Spring Boot <i class="val">70%</i></span>
            <div
              class="progress"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div class="progress-bar" style="width: 70%"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">Git <i class="val">90%</i></span>
            <div
              class="progress"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div class="progress-bar" style="width: 90%"></div>
            </div>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="progress">
            <span class="skill">TypeScript <i class="val">80%</i></span>
            <div
              class="progress"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div class="progress-bar" style="width: 80%"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Java <i class="val">90%</i></span>
            <div
              class="progress"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div class="progress-bar" style="width: 90%"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Python <i class="val">55%</i></span>
            <div
              class="progress"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="55"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div class="progress-bar" style="width: 55%"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">C# <i class="val">40%</i></span>
            <div
              class="progress"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="40"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div class="progress-bar" style="width: 40%"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">Node.js <i class="val">80%</i></span>
            <div
              class="progress"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div class="progress-bar" style="width: 80%"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">PostreSQL <i class="val">88%</i></span>
            <div
              class="progress"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="88"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div class="progress-bar" style="width: 88%"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">MySQL <i class="val">80%</i></span>
            <div
              class="progress"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div class="progress-bar" style="width: 80%"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">MongoDB <i class="val">73%</i></span>
            <div
              class="progress"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="73"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div class="progress-bar" style="width: 73%"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">APIS <i class="val">68%</i></span>
            <div
              class="progress"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="68"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div class="progress-bar" style="width: 68%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Skills Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">
      <div class="section-title">
        <h2>Resume</h2>
        <p>
          Deseo compartir con ustedes un resumen de mi educación y experiencia
          laboral como Ingeniero de Sistemas. Mi pasión por la tecnología y la
          informática me ha llevado a emprender una carrera apasionante en el
          mundo de la ingeniería, siempre en busca de innovación y soluciones
          que impulsen el progreso.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Desarrollor Fullstack Guía Electoral</h4>
            <h5>01/2023 - 06/2023</h5>
            <p><em>Hit Data, Tunja, CO </em></p>
            <ul>
              <li>Análisis de requisitos y diseño de base de datos</li>
              <li>
                Diseño e implementación de arquitectura de aplicaciones
                escalables y eficientes, utilizando tecnologías como Node.js y
                React con TypeScript.
              </li>
              <li>
                Administación de base de datos PostgreSQL y optimizacion de
                rendimiento de consultas con creación de índices
              </li>
              <li>
                Establecer la comunicación entre el frontend y backend a través
                de API RESTfull.
              </li>
              <li>Control de versiones utilizando Github.</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Desarrollor Fullstack AutoBochica</h4>
            <h5>01/2023 - 06/2023</h5>
            <p><em>Hit Data, Tunja, CO</em></p>
            <ul>
              <li>
                Análisis de requisitos y estructura de datos requeridos de la
                empresa para el diseño de base de datos.
              </li>
              <li>
                Diseño e implementación de arquitectura de aplicaciones
                escalables y eficientes, utilizando tecnologías como Node.js y
                React con TypeScript.
              </li>
              <li>Codificación para la generacion de PDF y Excels.</li>
              <li>
                Establecer la comunicación entre el frontend y backend a través
                de API RESTfull.
              </li>
              <li>Control de versiones utilizando Github.</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up">
          <div class="resume-item">
            <h4>Desarrollor Fullstack Chat Bot</h4>
            <h5>01/2023 - 06/2023</h5>
            <p><em>Hit Data, Tunja, CO</em></p>
            <ul>
              <li>Configuración del entorno Node.js y TypeScript.</li>
              <li>
                Autenticación y configuración de webhook de WhatsApp Business.
              </li>
              <li>Integración de la API de WhatsApp.</li>
              <li>Definición de rutas y controladores.</li>
              <li>Procesamiento de mensajes.</li>
              <li>Implementación y despliegue.</li>
            </ul>
          </div>
          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Ingeniería de Sistemas</h4>
            <h5>2019 - 2023</h5>
            <p><em>Uniersidad Santo Tomas, Tunja</em></p>
            <p>Estudiante de pregrado de noveno semestre</p>
          </div>
          <div class="resume-item">
            <h4>Bachiller Academico</h4>
            <h5>2018</h5>
            <p><em>Colegio Salesiano Maldonado, Tunja</em></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Resume Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Portfolio</h2>
        <p>
          Dentro de este portafolio, encontrarán una selección de proyectos que
          he realizado, los cuales reflejan mi habilidad para enfrentar desafíos
          técnicos y encontrar soluciones eficientes y efectivas. Cada proyecto
          representa un enfoque único y un proceso de resolución de problemas
          orientado a satisfacer las necesidades de los usuarios y las metas del
          negocio.
        </p>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Web</li>
            <li data-filter=".filter-web">Game</li>
          </ul>
        </div>
      </div>

      <div
        class="row portfolio-container"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img
              src="../../../../assets/images/djangoRestaurant.png"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-links">
              <a
                href="../../../../assets/images/djangoRestaurant.png"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                target="_blank"
                ><i class="bx bx-plus"></i
              ></a>
              <a [routerLink]="['/dash/djangorestaunte']"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img
              src="../../../../assets/images/djComic.png"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-links">
              <a
                href="../../../../assets/images/djComic.png"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                target="_blank"
                ><i class="bx bx-plus"></i
              ></a>
              <a [routerLink]="['/dash/djangocomic']" title="More Details"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img
              src="../../../../assets/images/reactGuiaElctoral.png"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-links">
              <a
                href="../../../../assets/images/reactGuiaElctoral.png"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                target="_blank"
                ><i class="bx bx-plus"></i
              ></a>
              <a [routerLink]="['/dash/reactguia']" title="More Details"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img
              src="../../../../assets/images/reactAutoBochica.png"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-links">
              <a
                href="../../../../assets/images/reactAutoBochica.png"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                target="_blank"
                ><i class="bx bx-plus"></i
              ></a>
              <a [routerLink]="['/dash/reactautobochica']" title="More Details"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img
              src="../../../../assets/images/angularCorralito.png"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-links">
              <a
                href="../../../../assets/images/angularCorralito.png"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                target="_blank"
                ><i class="bx bx-plus"></i
              ></a>
              <a
                [routerLink]="['/dash/angularmicorralito']"
                title="More Details"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img
              src="../../../../assets/images/aspSaboArte.png"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-links">
              <a
                href="../../../../assets/images/aspSaboArte.png"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                target="_blank"
                ><i class="bx bx-plus"></i
              ></a>
              <a [routerLink]="['/dash/aspsaborarte']" title="More Details"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img
              src="../../../../assets/images/reactChatBot.jpeg"
              class="img-fluid"
              style="width: 90%; height: auto"
              alt=""
            />
            <div class="portfolio-links">
              <a
                href="../../../../assets/images/reactChatBot.jpeg"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                target="_blank"
                ><i class="bx bx-plus"></i
              ></a>
              <a [routerLink]="['/dash/reactchatbot']" title="More Details"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img
              src="../../../../assets/images/pyGameofLife.png"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-links">
              <a
                href="../../../../assets/images/pyGameofLife.png"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                target="_blank"
                ><i class="bx bx-plus"></i
              ></a>
              <a [routerLink]="['/dash/pygameoflife']" title="More Details"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img
              src="../../../../assets/images/aspUstaTickets.png"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-links">
              <a
                href="../../../../assets/images/aspUstaTickets.png"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                target="_blank"
                ><i class="bx bx-plus"></i
              ></a>
              <a [routerLink]="['/dash/jsmokepon']" title="More Details"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">
      <div class="section-title">
        <h2>Services</h2>
        <p>
          Mi objetivo principal es proporcionar servicios de alta calidad,
          adaptados a tus necesidades específicas y siempre a la vanguardia de
          la tecnología. Si estás buscando un ingeniero de sistemas
          comprometido, proactivo y con experiencia, no dudes en contactarme.
          ¡Estoy ansioso por trabajar contigo y llevar tus proyectos al
          siguiente nivel!
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><i class="bi bi-briefcase"></i></div>
          <h4 class="title">
            <a href="">Desarrollo y Mantenimiento de Aplicaciones</a>
          </h4>
          <p class="description">
            Contribuir al desarrollo y mantenimiento de aplicaciones web o
            móviles bajo la supervisión de un equipo más experimentado.
          </p>
        </div>
        <div
          class="col-lg-4 col-md-6 icon-box"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="title"><a href="">Programación y Codificación</a></h4>
          <p class="description">
            Escribir código en diferentes lenguajes de programación según el
            proyecto y las especificaciones.
          </p>
        </div>
        <div
          class="col-lg-4 col-md-6 icon-box"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="icon"><i class="bi bi-bar-chart"></i></div>
          <h4 class="title">
            <a href="">Diseño y Desarrollo de Páginas Web</a>
          </h4>
          <p class="description">
            articipar en el diseño y desarrollo de sitios web, creando páginas y
            funcionalidades específicas.
          </p>
        </div>
        <div
          class="col-lg-4 col-md-6 icon-box"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="icon"><i class="bi bi-binoculars"></i></div>
          <h4 class="title"><a href="">Colaboración en Proyectos</a></h4>
          <p class="description">
            Trabajar en equipo con otros desarrolladores y profesionales para
            completar proyectos de manera colaborativa.
          </p>
        </div>
        <div
          class="col-lg-4 col-md-6 icon-box"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <div class="icon"><i class="bi bi-brightness-high"></i></div>
          <h4 class="title">
            <a href="">Implementación de Funcionalidades</a>
          </h4>
          <p class="description">
            Participar en la implementación de características y funcionalidades
            específicas de una aplicación.
          </p>
        </div>
        <div
          class="col-lg-4 col-md-6 icon-box"
          data-aos="fade-up"
          data-aos-delay="500"
        >
          <div class="icon"><i class="bi bi-calendar4-week"></i></div>
          <h4 class="title"><a href="">Optimización de Código</a></h4>
          <p class="description">
            Contribuir a la optimización del código para mejorar el rendimiento
            y eficiencia del software.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Contact</h2>
        <p>
          Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
          aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
          quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
          fugiat sit in iste officiis commodi quidem hic quas.
        </p>
      </div>

      <div class="row" data-aos="fade-in">
        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>CL 28A #7A - 10, Tunja, TJ 150001</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>juan.roblesa@usantoto.edu.co</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+57 3138342018</p>
            </div>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d625.4211362540489!2d-73.35637309197983!3d5.540839619676192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1690243491406!5m2!1ses!2sco"
              frameborder="0"
              style="border: 0; width: 100%; height: 290px"
              allowfullscreen
            ></iframe>
          </div>
        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form
            #frmLogin="ngForm"
            (submit)="frmLogin.form.valid && sendForm(frmLogin)"
            class="php-email-form"
          >
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Your Name</label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  required
                  [(ngModel)]="formData.name"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="email">Your Email</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  required
                  [(ngModel)]="formData.email"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="subject">Subject</label>
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                required
                [(ngModel)]="formData.subject"
              />
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea
                class="form-control"
                name="message"
                rows="10"
                required
                [(ngModel)]="formData.message"
              ></textarea>
            </div>
            <div class="text-center">
              <button type="submit" class="btn">Submit</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->
