<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Portfolio Details</h2>
        <ol>
          <li><a href="#portfolio">Home</a></li>
          <li>Asp .NET Sabor & Arte</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div
              id="carouselExampleInterval"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img
                    src="../../../../assets/images/aspSaborArte/Captura1.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img
                    src="../../../../assets/images/aspSaborArte/Captura2.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/aspSaborArte/Captura3.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/aspSaborArte/Captura4.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/aspSaborArte/Captura5.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/aspSaborArte/Captura6.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/aspSaborArte/Captura7.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/aspSaborArte/Captura8.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="portfolio-description">
            <h2>Details</h2>
            <p style="text-align: justify">
              Nuestra aplicación en ASP .NET está diseñada para brindar una
              experiencia gastronómica excepcional a nuestros clientes y
              permitirles explorar la diversidad de nuestros platos y categorías
              de forma sencilla y conveniente.
            </p>
            <h5>Características principales:</h5>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">1.</strong>
              Menú y Categorías: Los usuarios podrán acceder a un completo menú
              con una amplia variedad de platos exquisitos ofrecidos por el
              restaurante Sabor & Arte. Los platos están organizados en
              categorías fáciles de explorar, como entrantes, platos
              principales, postres y bebidas. Cada plato vendrá acompañado de
              una descripción detallada y atractivas imágenes que despertarán el
              apetito de nuestros clientes.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">2.</strong>
              Realizar Pedidos: Nuestra aplicación permite a los usuarios
              realizar pedidos de los platos que deseen directamente desde su
              dispositivo. Podrán seleccionar los platos de su elección,
              agregarlos al carrito de compras y ajustar las cantidades según
              sus preferencias. Además, la aplicación mostrará el total del
              pedido y brindará opciones de personalización si están
              disponibles.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">3.</strong>
              Pagos Seguros con PayPal: Pensando en la seguridad y comodidad de
              nuestros clientes, hemos integrado la opción de pago con PayPal.
              Los usuarios podrán realizar sus transacciones de manera segura y
              protegida mediante PayPal, garantizando una experiencia de compra
              confiable y sin complicaciones.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">4.</strong>
              Panel Administrativo: Sabor & Arte cuenta con un panel de
              administración para el equipo del restaurante. Desde este panel,
              los administradores tendrán acceso a un sistema de CRUD (Crear,
              Leer, Actualizar y Eliminar) para gestionar el menú de manera
              eficiente. Podrán agregar nuevos platos, actualizar descripciones,
              categorías y precios, así como eliminar elementos no disponibles.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">5.</strong>
              Reservas: Ofrecemos a nuestros clientes la posibilidad de realizar
              reservas para asistir al restaurante y disfrutar de la atmósfera
              única de Sabor & Arte. A través de la aplicación, los usuarios
              podrán seleccionar la fecha, hora y número de personas para su
              reserva, garantizando un lugar asegurado para su visita.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">6.</strong>
              Comentarios y Valoraciones: Valoramos la opinión de nuestros
              clientes, por lo que la aplicación permitirá a los usuarios dejar
              comentarios y valoraciones sobre su experiencia en el restaurante.
              Esto nos ayudará a mejorar nuestros servicios y ofrecer una
              experiencia aún más gratificante en el futuro.
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Web App</li>
              <li><strong>Client</strong>: Sabor & Arte</li>
              <li><strong>Project date</strong>: December, 2022</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Details Section -->
</main>
<!-- End #main -->
