<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Portfolio Details</h2>
        <ol>
          <li><a href="#portfolio">Home</a></li>
          <li>Auto Bochica</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div
              id="carouselExampleInterval"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img
                    src="../../../../assets/images/reactAutoBochica/Captura1.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img
                    src="../../../../assets/images/reactAutoBochica/Captura2.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/reactAutoBochica/Captura3.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/reactAutoBochica/Captura4.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/reactAutoBochica/Captura5.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/reactAutoBochica/Captura6.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/reactAutoBochica/Captura7.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/reactAutoBochica/Captura8.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/reactAutoBochica/Captura9.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/reactAutoBochica/Captura10.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/reactAutoBochica/Captura11.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="portfolio-description">
            <h2>Details</h2>
            <p style="text-align: justify">
              Auto Bochica es una potente aplicación web desarrollada con React
              y Node que facilita la gestión eficiente de los certificados de
              clientes para una empresa automotriz. Esta herramienta brinda a
              los usuarios la capacidad de listar y administrar de manera
              sencilla los certificados emitidos, permitiendo una rápida
              identificación de aquellos certificados válidos y los que no lo
              son.
            </p>
            <h5>Características principales:</h5>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">1.</strong>
              Listado de Certificados: Los usuarios pueden visualizar de forma
              ordenada y filtrada la lista completa de certificados de clientes.
              Además, pueden realizar búsquedas por diferentes criterios, como
              número de certificado, nombre del cliente o fecha de emisión, para
              localizar la información requerida rápidamente.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">2.</strong>
              Filtrado por Estado: Auto Bochica permite segmentar los
              certificados en dos categorías: certificados y no certificados.
              Esto posibilita un control más efectivo de la validez de los
              documentos, facilitando la identificación de aquellos que
              necesiten renovación o actualización.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">3.</strong>
              Exportación a Excel: Para una mayor versatilidad y facilidad de
              análisis de datos, los usuarios pueden exportar los registros de
              certificados en formato Excel. Esta funcionalidad agiliza la
              generación de informes y el seguimiento del estado de los
              certificados en la empresa.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">4.</strong>
              Generación de PDF de Información del Cliente: Auto Bochica permite
              la creación de informes detallados de cada cliente en formato PDF.
              Estos informes contienen la información relevante del cliente,
              como nombre, dirección, contacto y detalles específicos de los
              certificados asociados, brindando una visión completa y detallada
              de la relación con el cliente.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">4.</strong>
              Control de Usuarios: La seguridad es una prioridad en Auto
              Bochica. La aplicación implementa un robusto sistema de control de
              usuarios con distintos niveles de acceso. Los administradores
              pueden gestionar los permisos de los usuarios, garantizando que
              solo el personal autorizado pueda acceder a ciertas
              funcionalidades y datos sensibles.
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Web App</li>
              <li><strong>Client</strong>: Hit Data</li>
              <li><strong>Project date</strong>: June, 2023</li>
              <li>
                <strong>Web site</strong>:
                https://autobochicafrontend-d64c7.web.app
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Details Section -->
</main>
<!-- End #main -->
