<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Portfolio Details</h2>
        <ol>
          <li><a href="#portfolio">Home</a></li>
          <li>Mokepon</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div
              id="carouselExampleInterval"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img
                    src="../../../../assets/images/jsMokepon/Captura1.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img
                    src="../../../../assets/images/jsMokepon/Captura2.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/jsMokepon/Captura3.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="portfolio-description">
            <h2>Details</h2>
            <p style="text-align: justify">
              Mokepon es un emocionante juego desarrollado en JavaScript que
              combina la clásica mecánica del juego "Piedra, papel o tijera" con
              elementos de poderes de Fuego, Agua y Tierra. Los jugadores se
              sumergirán en un mundo de batallas elementales, donde deberán
              elegir sabiamente sus poderes para vencer a sus oponentes y
              alcanzar la victoria.
            </p>
            <h5>Características principales:</h5>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">1.</strong>
              Selección del Elemento: Al iniciar una batalla, el jugador podrá
              elegir uno de los tres elementos principales: Fuego 🔥, Agua 💧 o
              Tierra 🌿. Cada elemento tiene sus ventajas y desventajas frente a
              los otros, creando un equilibrio estratégico que los jugadores
              deberán aprovechar para ganar.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">2.</strong>
              Combates en Turnos: Las batallas se desarrollan en turnos
              alternados entre el jugador y la inteligencia artificial (IA) del
              juego. En cada turno, tanto el jugador como la IA elegirán su
              poder para atacar o defenderse.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">3.</strong
              > Diseño Visual Atractivo: El juego contará con un diseño visual
              atractivo y animaciones que harán que las batallas sean
              emocionantes y cautivadoras.
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Game</li>
              <li><strong>Client</strong>: Mokepon</li>
              <li><strong>Project date</strong>: February, 2022</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Details Section -->
</main>
<!-- End #main -->
