
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Portfolio Details</h2>
        <ol>
          <li><a href="#portfolio">Home</a></li>
          <li>Django Restaurante</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div
              id="carouselExampleInterval"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img
                    src="../../../../assets/images/djResataurante/Captura1.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img
                    src="../../../../assets/images/djResataurante/Captura2.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/djResataurante/Captura3.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/djResataurante/Captura4.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/djResataurante/Captura5.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/djResataurante/Captura6.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/djResataurante/Captura7.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/djResataurante/Captura8.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/djResataurante/Captura9.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="portfolio-description">
            <h2>Details</h2>
            <p style="text-align: justify">
              Bienvenidos a World Restaurant, una innovadora aplicación web
              desarrollada con Django que te permite explorar y hacer pedidos de
              platos de diferentes restaurantes de todo el mundo. Nuestro
              objetivo es brindarte una experiencia culinaria única, donde
              podrás descubrir una amplia variedad de tipos de restaurantes y
              platos, todo en un solo lugar.
            </p>
            <h5>Características principales:</h5>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">1.</strong>
              Explora una amplia selección de restaurantes: World Restaurant te
              ofrece una amplia variedad de restaurantes, desde cocina local
              hasta platos internacionales exóticos. Con solo unos clics, podrás
              descubrir una lista completa de opciones para satisfacer tus
              antojos y deseos culinarios.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">2.</strong>
              Valoraciones y opiniones de usuarios: En World Restaurant, la
              comunidad de usuarios es fundamental. Podrás acceder a las
              valoraciones y opiniones que otros comensales han compartido sobre
              los restaurantes y platos que han probado. Esto te permitirá tomar
              decisiones informadas y elegir lo mejor que cada establecimiento
              tiene para ofrecer.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">3.</strong>
              Sistema de pedidos fácil y seguro: Nuestra aplicación te ofrece un
              proceso de pedido rápido y seguro. Simplemente selecciona los
              platos que desees del menú de tu restaurante preferido y agrega
              los elementos a tu carrito. Una vez que hayas terminado, procede a
              realizar el pago de forma segura y confiable.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">4.</strong>
              Confirmación de pedidos por correo electrónico: Para garantizar
              que estés siempre informado sobre el estado de tu pedido,
              recibirás una confirmación por correo electrónico con los detalles
              de tu compra. Además, te mantendremos al tanto del tiempo estimado
              de entrega para que puedas estar preparado para disfrutar de tu
              deliciosa comida.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">5.</strong>
              Perfiles personalizados: World Restaurant te permite crear un
              perfil personalizado donde podrás guardar tus restaurantes y
              platos favoritos, agilizando así tus futuras compras y facilitando
              la experiencia en cada visita.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">6.</strong>
              Administración de restaurantes y platos (CRUD): Como administrador
              de World Restaurant, tendrás acceso exclusivo a un panel de
              control donde podrás realizar operaciones CRUD (Crear, Leer,
              Actualizar y Borrar) de los diferentes restaurantes y platos
              disponibles en la plataforma. Esto te brindará un control total
              sobre el contenido y te permitirá agregar nuevos restaurantes,
              actualizar información relevante y eliminar registros obsoletos.
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Web App</li>
              <li><strong>Client</strong>: World Restaurant</li>
              <li><strong>Project date</strong>: June, 2021</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Details Section -->
</main>
<!-- End #main -->
