<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Portfolio Details</h2>
        <ol>
          <li><a href="#portfolio">Home</a></li>
          <li>Guía Electoral De Colombia</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div
              id="carouselExampleInterval"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img
                    src="../../../../assets/images/reactGuia/Captura1.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img
                    src="../../../../assets/images/reactGuia/Captura2.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/reactGuia/Captura3.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/reactGuia/Captura4.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/reactGuia/Captura5.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/reactGuia/Captura6.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/reactGuia/Captura7.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="portfolio-description">
            <h2>Details</h2>
            <p style="text-align: justify">
              La Guía Electoral de Colombia es una innovadora aplicación
              desarrollada con tecnologías React y Node que ofrece a los
              ciudadanos una plataforma intuitiva y actualizada para acceder a
              los resultados de las elecciones en Colombia. Con un enfoque
              centrado en la transparencia y facilidad de uso, esta aplicación
              proporciona a los usuarios la información electoral detallada que
              necesitan para estar informados y participar activamente en el
              proceso democrático.
            </p>
            <h5>Características principales:</h5>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">1.</strong>
              Visualización de Resultados Electorales: Los usuarios pueden
              explorar los resultados de elecciones presidenciales, legislativas
              y locales de manera clara y organizada. La aplicación muestra de
              manera gráfica los porcentajes de votos para cada candidato y
              partido, así como el número de votos obtenidos en cada
              departamento y municipio.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">2.</strong>
              Filtros por Departamentos y Municipios: La Guía Electoral de
              Colombia permite a los usuarios filtrar los resultados por
              departamentos y municipios, lo que les brinda la capacidad de
              enfocarse en los datos específicos de su región y obtener una
              visión detallada de las preferencias electorales locales.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">3.</strong>
              Datos en Tiempo Real: La aplicación se actualiza en tiempo real
              durante el proceso electoral, asegurando que los usuarios tengan
              acceso a la información más reciente y precisa.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">4.</strong>
              Diseño Responsivo e Intuitivo: La interfaz de usuario de la
              aplicación está diseñada para ser intuitiva y amigable, brindando
              una experiencia consistente y agradable en dispositivos móviles y
              computadoras de escritorio.
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Web App</li>
              <li><strong>Client</strong>: Hit Data</li>
              <li><strong>Project date</strong>: June, 2023</li>
              <li>
                <strong>Web site</strong>: https://guiaelectoraldecolombia.com
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Details Section -->
</main>
<!-- End #main -->
