<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Portfolio Details</h2>
        <ol>
          <li><a href="#portfolio">Home</a></li>
          <li>Angular MiCorralito</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div
              id="carouselExampleInterval"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img
                    src="../../../../assets/images/angularMiCorralito/captura1.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img
                    src="../../../../assets/images/angularMiCorralito/captura2.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/angularMiCorralito/captura3.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/angularMiCorralito/Captura4.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/angularMiCorralito/Captura5.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/angularMiCorralito/Captura6.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/angularMiCorralito/Captura7.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/angularMiCorralito/Captura8.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/angularMiCorralito/Captura9.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../assets/images/angularMiCorralito/Captura10.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="portfolio-description">
            <h2>Details</h2>
            <p style="text-align: justify">
              Mi Corralito es una moderna aplicación web desarrollada con
              Angular, diseñada para brindar a los usuarios una experiencia
              única al explorar los restaurantes de una cadena en diferentes
              ciudades. Nuestra plataforma es ideal para los amantes de la buena
              comida que deseen conocer los lugares donde se encuentran los
              restaurantes de la cadena y descubrir su variado menú.
            </p>
            <h5>Características principales:</h5>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">1.</strong>
              Exploración de Restaurantes: Los usuarios pueden navegar
              fácilmente a través de una lista de ciudades disponibles y
              descubrir los restaurantes de la cadena en cada ubicación. Cada
              restaurante tiene su propia página de perfil que muestra detalles
              como la dirección, horarios de atención y los platillos más
              populares.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">2.</strong>
              Panel Administrativo: Además de la experiencia para los usuarios,
              Mi Corralito cuenta con un completo panel administrativo que
              permite a los propietarios y gerentes de la cadena gestionar su
              inventario de productos. Desde este panel, pueden realizar todas
              las operaciones CRUD (Crear, Leer, Actualizar, Eliminar) para
              mantener actualizado el menú de cada restaurante. Agregar nuevos
              platillos, actualizar precios, gestionar la disponibilidad y mucho
              más, todo en un entorno fácil de usar.
            </ul>
            <ul style="text-align: justify">
              <strong style="color: #3590d5; text-align: justify">3.</strong>
              Interfaz Intuitiva y Responsiva: Hemos puesto un gran énfasis en
              la experiencia del usuario. La interfaz de Mi Corralito es
              amigable, intuitiva y se adapta a cualquier dispositivo,
              permitiendo a los usuarios acceder a la información de los
              restaurantes desde su computadora, tableta o teléfono móvil.
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Web App</li>
              <li><strong>Client</strong>: Mi Corralito</li>
              <li><strong>Project date</strong>: June, 2023</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Details Section -->
</main>
<!-- End #main -->
